# MiningRigRentals API
MRR_API_KEY=
MRR_API_SECRET=
MRR_RIG_IDS=372881,372933,372932

# Grafana
GRAFANA_URL=https://fortmining1.grafana.net
GRAFANA_TOKEN=

# GitHub Pages URL (after enabling Pages)
PAGES_BASE_URL=
